
@media(max-width:1000px) {
    .main {
        width: 100%;
        height: auto;
        /*background: url(../design/detail-1.jpg) no-repeat;*/
        background-size: 100% auto;

        * {
            color: #002316;
        }
    }

    .section {
        width: 100%;
        height: 100vh;
        position: relative;

        .btn-arrow {
            position: absolute;
            width: 20%;
            height: 2rem;
            left: 40%;

            &.down {
                bottom: 0;
            }

            &.up {
                top: 0;
            }


            img.arrow {
                position: absolute;
                width: 60%;
                height: auto;
                left: 20%;
                z-index: 5;

                &.down {
                    bottom: 1rem;
                    animation: arrow-down 1s ease infinite;
                }

                @keyframes arrow-down {
                    0% {
                        bottom: 1rem;
                    }

                    50% {
                        bottom: 0.5rem;
                    }

                    100% {
                        bottom: 0rem;
                    }
                }

                @-moz-keyframes arrow-down /* Firefox */ {
                    0% {
                        bottom: 1rem;
                    }

                    50% {
                        bottom: 0.5rem;
                    }

                    100% {
                        bottom: 0rem;
                    }
                }

                @-webkit-keyframes arrow-down /* Safari 和 Chrome */ {
                    0% {
                        bottom: 1rem;
                    }

                    50% {
                        bottom: 0.5rem;
                    }

                    100% {
                        bottom: 0rem;
                    }
                }

                @-o-keyframes arrow-down /* Opera */ {
                    0% {
                        bottom: 1rem;
                    }

                    50% {
                        bottom: 0.5rem;
                    }

                    100% {
                        bottom: 0rem;
                    }
                }

                &.up {
                    top: 1rem;
                    animation: arrow-up 1s ease infinite;
                    transform: rotate(180deg);
                }

                @keyframes arrow-up {
                    0% {
                        top: 1rem;
                    }

                    50% {
                        top: 0.5rem;
                    }

                    100% {
                        top: 0rem;
                    }
                }

                @-moz-keyframes arrow-up /* Firefox */ {
                    0% {
                        top: 1rem;
                    }

                    50% {
                        top: 0.5rem;
                    }

                    100% {
                        top: 0rem;
                    }
                }

                @-webkit-keyframes arrow-up /* Safari 和 Chrome */ {
                    0% {
                        top: 1rem;
                    }

                    50% {
                        top: 0.5rem;
                    }

                    100% {
                        top: 0rem;
                    }
                }

                @-o-keyframes arrow-up /* Opera */ {
                    0% {
                        top: 1rem;
                    }

                    50% {
                        top: 0.5rem;
                    }

                    100% {
                        top: 0rem;
                    }
                }
            }
        }
    }

    .section-1 {

        .one {
            margin: 0;
            width: 100%;
            padding-top: calc(100vh * 0.044);
            padding-bottom: 0;
            height: 36.3%;



            .logos {
                padding-left: calc(100vw * 0.1);
                padding-right: calc(100vw * 0.1);
                padding-bottom: calc(100vh * 0.044);
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .logo-1 {
                    width: 55%;
                    height: auto;
                }

                .logo-2 {
                    width: 30%;
                    height: auto;
                }
            }


            .content {
                padding-left: 0;
                padding-top: 0;

                .titles {
                    text-align: center;
                    padding-left: calc(100vw * 0.1);
                    padding-right: calc(100vw * 0.1);

                    .title-1 {
                        font-family: 'AU Sans BETA Text-Bold';
                        font-size: 0.41rem;
                        color: #002316;
                        padding-bottom: 0;
                    }

                    .title-2 {
                        font-family: 'AU Sans BETA Display-Extrabold';
                        font-size: 0.423rem;
                        color: #002316;
                        padding-bottom: 0.1rem;
                    }

                    .title-3 {
                        font-family: 'SourceHanSansCN-Bold';
                        color: #ceb888;
                        line-height: 0.66rem;
                        font-size: 0.51rem;
                        padding-top: 0;
                        padding-bottom: 0.28rem;
                    }
                }

                .detail {
                    padding-top: 0;
                    padding-bottom: 0;

                    p {
                        display: block;
                        margin-block-start: 0;
                        margin-block-end: 0;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        font-size: 0.3rem;
                    }

                    .detail-1 {
                        font-family: 'AU Sans BETA Text-Medium';
                        display: flex;
                        justify-content: center;

                        p:first-of-type {
                            width: 44%;
                            border-right: 1px solid #002316;
                            text-align: right;
                            padding-right: 0.14rem;
                        }

                        p:last-of-type {
                            width: 56%;
                            padding-left: 0.14rem;
                        }
                    }

                    .detail-2 {
                        font-family: 'SourceHanSansCN-Medium';
                        display: flex;
                        justify-content: center;
                        padding-top: 0px;

                        p:first-of-type {
                            width: 44%;
                            border-right: 1px solid #002316;
                            text-align: right;
                            padding-right: 0.14rem;
                        }

                        p:last-of-type {
                            width: 56%;
                            padding-left: 0.14rem;
                        }
                    }
                }
            }
        }

        .two {
            width: 100%;
            height: 63.7%;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: '';
                display: block;
                background: url(../images/light.png) no-repeat 0 0;
                background-size: 100% auto;
                position: absolute;
                width: 90%;
                height: 90vw;
                top: calc(-90vw * 0.52);
                left: 70%;
            }

            img {
                height: auto;
                width: 100%;
            }
        }
    }

    .section-2 {
        background: url(../images/bk-2.jpg) no-repeat;
        background-size: 100% 100%;
        margin: 0;
        width: 100%;
        padding-top: calc(100vh * 0.044);
        padding-bottom: 0;
        display:none;


        .logos {
            padding-left: calc(100vw * 0.1);
            padding-right: calc(100vw * 0.1);
            padding-bottom: calc(100vh * 0.044);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .logo-1 {
                width: 55%;
                height: auto;
            }

            .logo-2 {
                width: 30%;
                height: auto;
            }
        }

        .titles {
            text-align: center;
            padding-left: calc(100vw * 0.1);
            padding-right: calc(100vw * 0.1);

            .title-1 {
                font-family: 'AU Sans BETA Text-Bold';
                font-size: 0.41rem;
                color: #ffffff;
                padding-bottom: 0;
            }

            .title-2 {
                font-family: 'AU Sans BETA Display-Extrabold';
                font-size: 0.423rem;
                color: #ffffff;
                padding-bottom: 0.1rem;
            }

            .title-3 {
                font-family: 'SourceHanSansCN-Bold';
                color: #ceb888;
                line-height: 0.66rem;
                font-size: 0.51rem;
                padding-top: 0;
                padding-bottom: 0.28rem;
            }
        }

        .content {
            padding-left: calc(100vw * 0.1);
            padding-right: calc(100vw * 0.1);


            .panel {
                border: 1px solid #ceb888;
                border-radius: 0.2rem;
                overflow: hidden;
                text-align: center;
                color: #ceb888;
                font-size: 0.39rem;
                margin-bottom: 0.28rem;

                .title {
                    line-height: 1.5;
                    background-color: #ceb888;
                    color: #002316;
                    font-family: 'AU Sans BETA Text-Regular';
                }

                .content {
                    color: #ceb888;
                    font-family: 'AU Sans BETA Text-Regular';
                    padding-bottom: 0.28rem;
                    padding-top: 0.28rem;
                }

                .white {
                    color: #ffffff;
                }

                a {
                    color: #ceb888;
                }

                &.panel-4 {
                    border: none;
                    font-size: 0.33rem;

                    .content {
                        padding-bottom: 0;
                        padding-top: 0;
                    }
                }
            }
        }
    }

    .section-3 {
        background: url(../images/bk-2.jpg) no-repeat;
        background-size: 100% 100%;
        margin: 0;
        width: 100%;
        padding-top: calc(100vh * 0.044);
        padding-bottom: 0;
        display:none;


        .logos {
            padding-left: calc(100vw * 0.1);
            padding-right: calc(100vw * 0.1);
            padding-bottom: calc(100vh * 0.044);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .logo-1 {
                width: 55%;
                height: auto;
            }

            .logo-2 {
                width: 30%;
                height: auto;
            }
        }

        img.map {
            width: 80vw;
            height: auto;
            margin: 0 auto;
            display: block;
        }

        .content {
            padding-left: calc(100vw * 0.1);
            padding-right: calc(100vw * 0.1);
            font-family: 'AU Sans BETA Text-Regular';
            padding-bottom: 0.28rem;
            padding-top: 0.28rem;
            text-align: center;
            font-size: 0.3rem;

            .white {
                color: #ffffff;
                padding-bottom: 0.2rem;
            }

            a {
                color: #ceb888;
            }

            p {
                margin-block-start: 0;
                margin-block-end: 0;
                color: #ceb888;
                padding-bottom: 0.1rem;
            }
        }
    }
}
